<h1>My Todo's</h1>

<div class = "alert alert-success" *ngIf = 'message'>{{message}}</div>

<div class = "container">
<table class = "table">
      <thead>
            <tr>
                  <th>Description</th>
                  <th>Target Date</th>
                  <th>Is Completed</th>
                  <th>Update</th>
                  <th>Delete</th>
            </tr>
      </thead>
      <tbody>
            <tr *ngFor="let a of todos">
                  <td>{{a.description}}</td>
                  <td>{{a.targetDate | date}}</td>
                  <td>{{a.done}}</td>
                  <td><button class = "btn btn-success" (click) = "updateTodo(a.id)">Update</button></td>
                  <td><button class = "btn btn-warning" (click) = "deleteTodo(a.id)">Delete</button></td>
            </tr>
      </tbody>
</table>

<div class="row">
      <button class = "btn btn-success" (click) = "addTodo()">Add</button>
</div>
</div>